:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #212529;
  background-color: #f8f9fa;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.chat-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f8f9fa;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Контейнер чата */
.chat-container {
  width: 100%;
  max-width: 1200px;
  background-color: #ffffff;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  height: calc(100vh - 40px);
}

.chat-messages {
  background-color: #ffffff;
}

/* Стили для сообщений в чате */
.own-message {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.other-message {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.message-content {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  max-width: 70%;
  color: #212529;
}

.own-message .message-content {
  background-color: #0d6efd;
  color: #fff;
}

.other-message .message-content {
  background-color: #e9ecef;
  color: #212529;
}

#messages-box > div:first-child {
  margin-top: 1rem;
}

@media (max-width: 992px) {
  .chat-container {
    max-width: 95%;
  }
}

/* Стили для Navbar */
.navbar-brand {
  margin-right: auto;
}

.navbar .btn {
  margin-left: auto;
}

.login-form.card {
  padding: 0;
}

.custom-toast-container .Toastify__toast {
  min-width: 350px;
  max-width: 500px;
  width: auto;
  padding: 16px;
}
